.button {
    padding: 16px 40px;
    font-family: "DM Sans";
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 211px;
    cursor: pointer;
    
  
    &.large {
      padding: 26px 64px;
      font-size: 20px;      
    }
  } 