:root {
    --color-white: #fff;
    --color-white-secondary: #e0e0e0;
    --color-white-button: rgba(255, 255, 255, 0.80);
    --color-black: #000000;
    --color-dark-blue: #010a20;
    --color-gray: #6f7787;
    --color-red: #dd2242;
    --color-pink: #E93A7D;
    --color-light-blue: #DCE8F2;
  
    --font-size-base: 18px;    
    --line-height-base: 1.5;

    --font-size-md: 20px;
    --font-weight-base: 700;
    --line-height-base: 1.5;    
  
    --font-title-lg: 120px;
    --font-title-md: 60px;
    --font-title-sm: 52px;
    --font-title-xs: 42px;
  } 